{% extends 'base.html' %}

{% block title %}
Flow {{flo.identifier}}
{% endblock title %}

{% block navigationTabs %}
    <li><a href={{ url_for('flows') }}>Go back</a></li>
{% endblock navigationTabs %}

{% block page_content %}
<div class="row">
    {% for level in lvlToSwitch | sort%}
    <div class="col-sm-{{ 12 // lvlToSwitch|length }}">
        <h2>Level {{level}} Switches visited </h2>
        <ul>
            {% for switch in lvlToSwitch[level] %}
            <li><a href= {{ url_for('displaySwitch', switch=switch) }} >Switch {{switch}} {% if trigger_switch == switch %} <b style="color:rgb(255, 42, 42);">(Trigger)</b>{% endif %}</a>
            </li>
            
            {% endfor %}
        </ul>
    </div>
  {% endfor %}
</div>
{% endblock page_content %}
