{% extends 'base.html' %}

{% block page_content %}

    {% for switch in switches %}
    <div class="row">
    <h3>Switch {{switches[switch].identifier}} {% if switches[switch].identifier == trigger_switch %}
    <b>(Trigger)</b>
    {% endif %}</h3>
        Here are the flows:
        <ul>
            {% for flow in switches[switch].flow_list  %}
                <li><a href={{url_for('displayFlow', flow=flow)}}>{{mapIp[flow]}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

{% endblock page_content %}