{% extends "base.html" %}

{% block navigationTabs %}
<li><a href={{ url_for('switches') }}>Switches</a></li>
<li><a href = {{ url_for('flows') }}>Flows</a></li>
<li><a href={{ url_for('packetwise')}} >Packet-wise search</a></li>
<li><a href={{ url_for('query') }}>Query</a></li>
<li><a href={{ url_for('general') }}>General View</a></li>
{% endblock navigationTabs %}

{% block page_content %}
<div class="page-header">
    <h1>Debugger</h1>
</div>
<h4>Scenario : {{scenario}}</h4>
<br>
<h4>Scenario Duration : {{duration}} seconds</h4>
<br>
<h4>Trigger Switch : Switch {{switch}}</h4>
<br>
<h3>Message : {{message}}</h3>
{% endblock %}
