{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Querying Packet-wise{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Packetwise details!</h1>
</div>

{{ wtf.quick_form(form) }}

{% if results %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Time In</th>
        <th scope="col">Switch</th>
      </tr>
    </thead>
    <tbody>
    {% for i in range(results | length) %}
    <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{results[i][0]}}</td>
        <td>{{results[i][1]}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  {{ wtf.quick_form(form2) }}
  {% endif %}

  {% if dashboardId %}
  <iframe src="http://localhost:3000/d/{{dashboardId}}" width = "1152" height = "720"></iframe>
  {% endif %}



{% endblock page_content %}

