{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Querying{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Query details!</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        {{ wtf.quick_form(form) }}
    </div>
    <div class = "col-sm-6">
        {{ wtf.quick_form(form2) }}
    </div>
</div>
{% if results %}

<table class="table">
    <thead>
      <tr>
        {% for i in range(results[0] | length) %}
        <th scope="row">{{results[0][i]}}</th>
        {% endfor %}
    </thead>
    <tbody>
    {% for i in range(results[1:] | length) %}
    <tr>
        {% for j in range(results[0] | length) %}
        <td>{{results[i+1][j]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endif %}

{% endblock %}
