{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Switch {{switch.identifier}}
{% endblock title %}

{% block navigationTabs %}
    <li><a href={{ url_for('switches') }}>Go back</a></li>
{% endblock navigationTabs %}

{% block page_content %}
<div class="page-header">
    <h1> {{switch.identifier}} </h1>
</div>

<h5>
    Flows:
    <ul>
        {% for flow in switch.flowList %}
            <li> <a href={{ url_for('displayFlow', flow=flow)}}>{{flow}}</a>, Ratio : {{switch.ratios[flow]}}</li>
        {% endfor %}
    </ul>
</h5>

{{ wtf.quick_form(form)}}

{% if dashboardID %}
<iframe src="http://localhost:3000/d/{{dashboardID}}" width = "1152" height = "720"></iframe>
{% endif %}

{% endblock page_content %}
