{% extends 'base.html' %}

{% block page_content %}
<div class="row">
    {% for level in lvlToSwitch %}
    <div class="col-sm-{{ 12 // lvlToSwitch|length }}">
        <h2>Level {{level}} Switches </h2>
        <ul>
            {% for switch in lvlToSwitch[level] %}
            <li><a href= {{ url_for('displaySwitch', switch=switch) }} >Switch {{switch}} {% if trigger_switch == switch %} <b style="color:orange;">(Trigger)</b>{% endif %}</a>
            </li>
            
            {% endfor %}
        </ul>
    </div>
  {% endfor %}
</div>
{% endblock page_content %}
